*{

}
.hc1{
    background-image: linear-gradient(to bottom right, rgb(30, 108, 252), rgb(18, 188, 255));
    background-size:cover;
    filter: brightness(99%);
    width: 100%;
    height: 65vh;
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
}
.d1{
    width: 62%;
}
.d2{

}
#s1{
    color: white;
    margin-left: 4vw;
    font-weight: 650;
    font-size: 1.9vw;
    margin-top: 19vh;
    margin-bottom: 15px;
}
.s2{

    margin-left: 4vw;
    color: white;
    font-weight: 400;
    font-size: 1.45vw;
    margin-top: 5px;
    text-align: justify;
    width: 47vw;
}
.cs1{
    margin-top: 5vw;
 
}
.btn1{
    margin-top: 8px;
    width: 105px;
    height: 35px;
    margin-left: 4.1vw;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    font-size: 1.1vw;
    background-color: rgba(255, 255, 255, 0);
}
.btn1:hover {
    transform: scale(1.02);
}
.icon-div{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 33px;
}
.line-1{
    margin-top: 10px;
    height: 2px;
    width: 50px;
    background-color: rgb(18, 152, 255);
}
.icon1-css{
    font-size: 22px;
    font-weight: bolder;
}
.line-2{
    margin-top: 10px;
    height: 2px;
    width: 50px;
    background-color: rgb(18, 152, 255);
}
.s-div{
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.s1{
    font-size: 30px;
    font-weight: 650;
    color: rgb(3, 135, 236);
}
.sp2{
    font-size: 26px;
    color: rgb(0, 0, 0); 
    font-weight:400;
}
.s3{
    font-size: 17px;
    color: rgb(0, 0, 0);
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    font-weight: 600;
}
.sp4{
    font-weight: 600;
    color: rgb(3, 135, 236);
}
.c-div{
    margin-top: 120px;
    display: flex;
   
}
.cd1{
    margin-top: 55px;
    margin-left: 3%;
    position:relative;
    width:29.3%;
    height: 410px;
    background-image: linear-gradient( rgb(73, 135, 250), rgb(29, 191, 255));
    justify-content: center;
    text-align: center;
    
}
.cimg1{
    width: 75%;
    height: 75%;
    margin-top: -15%;
    border-radius: 50%;
}
.cp1{
    margin-top: 5%;
    font-size: 25px;
    font-weight: 700;
}
.cp2{
    font-size: 15px;
    font-weight: 500;
    color: rgb(47, 47, 47);
    width: 80%;
    margin-left: 10%;
}
.t-div{
    margin-top: 70px;
    background-image: url('../Assets/bg1.jpg');
    background-size:cover;
    text-align: center;
}
.tflex{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.ts1{
    font-size: 33px;
    font-weight: 650;
    color: rgb(36, 160, 254);
    margin-bottom: 0px;
}
.timg{
    width:130px;
    border-radius: 50%;
    border: solid 2.3px rgb(36, 160, 254);
}
.tf1{
    width: 25%;
    margin-top: 35px;
}
.tp1{
    font-size: 19px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
}
.cwh{
    width: 80%;
    height: 300px;
    display: flex;
    gap: 30px;
}
.slider{
    position: relative;
    overflow: hidden;
    
}
.slider-img{
    overflow-x: hidden;
    display: flex;
    scroll-behavior: smooth;
    gap: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.moveright, .moveleft{
    border: none;
    width: 60px;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    
}
.moveright{
    right: 0;
}

.moveright p, .moveleft p{  
    font-size: 22px;
}
.o1{
    font-size: 30px;
    font-weight: 650;
    color: rgb(3, 135, 236);
    text-align: center;
}
.o3{
    font-size: 17px;
    color: rgb(0, 0, 0);
    width: 80%;
    margin-left: 10%;
    font-weight: 600;
    text-align: center;
}
.op{
    margin-top: 60px;
}
.f-div{
    background-image: url('../Assets/bg2.jpg');
    position: relative;
    background-size: cover;
}
.subbox{
    background: linear-gradient(to bottom right, rgb(30, 108, 252), rgb(18, 188, 255));
    display: flex;
    gap: 14%;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    left: 10%
}
.sb1{
    margin-left: 7%;
}
.sf1{
    color: white;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    font-weight: 630;
}
.sf2{
    color: white;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
}
.sm1{
    font-size: 12px;
}
.textbox-em{
    border: none;
    border-radius: 5px;
    height: 35px;
    margin-top: 35px;
    width: 450px;
}
.btn12{
    background-color: rgb(241, 241, 241);
    border: none;
    font-weight: 500;
    padding: 3px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translate(-100%);
}