*{
    margin: 0px;
    padding: 0px;
}
.cl1{
   margin-left: 60px;
   margin-top: 5px;
}
.logo{
    width: 70px;
}
.NavP1{
    display: flex;
    gap: 35vw;
}
.NavP2{
    display: flex;
    gap: 35px;
    margin-top: 25px;
    font-weight:600;
}
.dh:hover{
    color: rgb(3, 135, 236);
    cursor: pointer;;
    transform: scale(1.06);
}
