@media (min-width: 1200px) and (max-width: 1400px) {
    .NavP1{
      gap:30vw;
    }
    .navp2{
      flex-wrap: wrap;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .NavP1{
    gap:20vw;
  }
  .NavP2{
    flex-wrap: wrap;
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .NavP1{
    gap:14vw;
  }
  .NavP2{
    flex-wrap: wrap;
    gap:30px;
  }
  .dh{
    font-size: 1.1rem;
  }
}

@media (min-width: 10px) and (max-width: 760px) {
  .NavP1{
    gap:20vw;
  }
  .NavP2{
    display: none;  
  }
  .cs1{
    display: none;
  }
  .d1{
    width: 100%;
  }
}